.image-repo {
  padding-bottom: 4rem;
}

.uploader {
  width: 40px;
  height: 40px;
  color: rgb(43, 166, 222);
  text-align: center;
  position: fixed;
  bottom: 5rem;
  right: .25rem;
}

.uploader input {
  display: none;
}
