.upload-progress {
  width: inherit;
  height: inherit;
  text-align: center;
  font-weight: bold;
  position: relative;
}

.upload-progress .progress {
  width: 0;
  height: inherit;
  background-color: rgb(51, 153, 255);
  transition: width .25s;
  position: absolute;
  top: 0;
  left: 0;
}

.upload-progress .progress img {
  height: 95%;
  position: absolute;
  top: 0;
  right: 1px;
}

.upload-progress .message {
  color: rgb(26, 42, 58);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
