.photo {
  width: inherit;
  height: inherit;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}

.photo .index,
.photo .file-name {
  font-weight: bold;
  font-size: 1.25rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.photo .index {
  top: 1rem;
}

.photo .file-name {
  width: 100%;
  bottom: 2rem;
}

.photo .close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.photo .slider {
  width: calc(300% + 6rem);
  height: 100%;
  position: absolute;
  left: calc(-100% - 3rem);
}

.photo .slider img {
  object-fit: contain;
  height: 100%;
  position: absolute;
}

.photo .slider .prev-img {
  width: calc(100vw * .7);
  left: calc(100vw * 0 + 1rem + 100vw * (1 - .7) / 2);
}

.photo .slider .curr-img {
  width: 100vw;
  left: calc(100vw * 1 + 3rem);
}

.photo .slider .next-img {
  width: calc(100vw * .7);
  left: calc(100vw * 2 + 5rem + 100vw * (1 - .7) / 2);
}
