.photo {
  width: inherit;
  height: inherit;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}

.photo .slider {
  width: calc(300% + 6rem);
  height: 100%;
  position: absolute;
  left: calc(-100% - 3rem);
}

.photo .slider img {
  object-fit: contain;
  height: 100%;
  position: absolute;
}

.photo .slider .prev-img {
  width: calc(100vw * .7);
  left: calc(100vw * 0 + 1rem + 100vw * (1 - .7) / 2);
}

.photo .slider .curr-img {
  width: 100vw;
  left: calc(100vw * 1 + 3rem);
}

.photo .slider .next-img {
  width: calc(100vw * .7);
  left: calc(100vw * 2 + 5rem + 100vw * (1 - .7) / 2);
}

.photo .header,
.photo .footer {
  width: inherit;
  height: 4rem;
  background-color: rgba(0, 0, 0, .3);
  font-size: 1.25rem;
  font-weight: bold;
  position: absolute;
}

.photo .header {
  top: 0;
}

.photo .footer {
  bottom: 0;
}

.photo .header .index {
  margin-top: 1rem;
}

.photo .header .close {
  font-size: 1.75rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
