.App {
  width: inherit;
  height: inherit;
  text-align: center;
}

.photo-count {
  padding-top: 2rem;
  text-align: center;
  font-weight: bolder;
}

.photo-list {
  width: inherit;
  padding-bottom: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.photo-list .img {
  margin: .3vw;
  position: relative;
  transition: width .2s, height .2s;
  transition-timing-function: cubic-bezier(0, 1, 0, 1);
}

.photo-list.img-1 .img {
  width: calc((100vw - .3vw * 2));
  height: calc((100vw - .3vw * 2));
}

.photo-list.img-3 .img {
  width: calc((100vw - .3vw * 6) / 3);
  height: calc((100vw - .3vw * 6) / 3);
}

.photo-list.img-6 .img {
  width: calc((100vw - .3vw * 12) / 6);
  height: calc((100vw - .3vw * 12) / 6);
}

.photo-list.img-12 .img {
  width: calc(100vw / 12);
  height: calc(100vw / 12);
  margin: 0;
}

.photo-list.img-24 .img {
  width: calc(100vw / 24);
  height: calc(100vw / 24);
  margin: 0;
}

.photo-list .img .mask {
  width: inherit;
  height: inherit;
  background-color: rgba(255, 255, 255, .4);
  color: rgb(0, 0,255);
  position: absolute;
  top: 0;
  left: 0;
}

.photo-list .img .mask svg {
  position: absolute;
  right: .5rem;
  bottom: .5rem;
}

.photo-list .img img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}


.toolbar {
  width: inherit;
  height: 4rem;
  background-color: rgb(255, 255, 255);
  color: rgb(133, 133, 133);
  position: fixed;
  bottom: 0;
}

.toolbar .progress {
    width: 0;
    height: 4px;
    background-color: rgb(43, 166, 222);
    transition: width .25s;
}

.toolbar ul {
  height: calc(100% - 4px);
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.toolbar ul li {
  width: 25%;
  height: 100%;
  padding-top: .25rem;
  font-size: .5rem;
  list-style: none;
}

.uploader {
  width: 40px;
  height: 40px;
  color: rgb(43, 166, 222);
  text-align: center;
  position: fixed;
  bottom: 5rem;
  right: .25rem;
}

.uploader input {
  display: none;
}
